
@font-face {

                font-family: 'snowballs_city_personaluseoRg';

                src: 

                    url('fuente/snowballs-webfont.woff') format('woff');

                font-weight: normal;
                font-style: normal;

            } 
/* 
body{
               font-family: snowballs_city_personaluseoRg;
            }
            div {
                font-family: snowballs_city_personaluseoRg;
            } */

body{
    background-color: #5a3443;
}
#Puh{
    color: #333333;
}
header {
    
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #a879b7;
  background-size: cover;
  background-position: center center;
}

.contacto {
  
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  color: #fff;
  font-size: 20px;
  line-height: 90px;
  margin-bottom: 90px;
  font-weight: 10;
  background-color: #F65D00
}
.servicios {
      
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  color: #00ff9c;
  font-size: 20px;
  line-height: 90px;
  margin-bottom: 90px;
  font-weight: 10;
  background-color: #F63333
}

/*body nav*/ p {color: #00ff9c;}